@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
@import 'carousel.css';
@import 'text-editor.css';
@import "systems/pf2e.css";
@import "systems/dnd5e.css";

:root {
    --main-text-light-color: #98968a;
    --main-text-very-light-color: #d4d1c3;
    --border-color: #372d25;
}

#pause img[src*="icons/svg/clockwork.svg"]{
    box-sizing: border-box;
    width: 128px;
    height: 128px;
    padding-left: 128px;

    background-image: url("../ui/other/paused.webp");
    animation: rotation 20s infinite linear;
}

#logo {
    left: 22px;
}

body.compact-mode #logo {
    display: none;
}

.hide {
    visibility: hidden;
}

.new-logo {
    z-index: 6;
    position: relative;
    left: 22px;
    width: 80px;
    top: 10px;
    color: var(--main-text-light-color);
    font-family: 'Kurale', serif;
    font-weight: 800;
    font-size: 17px;
    text-align: center;
    margin-bottom: 10px;
}

.new-logo::before {
    position: absolute;
    content: " ";
    width: 128%;
    height: 130%;
    top: -15%;
    background: url(../ui/buttons/controls_btn.webp);
    background-size: 100% 100%;
    z-index: -1;
    left: -10%;
}


#sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: fixed;
    right: 0px;
    top: 0px;
    overflow: visible;
    width: 350px;
    padding:0px 15px;
    background: none;
    box-shadow: none;
    border: none;
}

#sidebar.app.collapsed {
    padding: 0 !important;
}


#sidebar.app.collapsed::before {
    width: 40px !important;
    left: -4px !important;
    height: 110% !important;
}

#sidebar::before {
    position: absolute;
    z-index: -1;
    content: " ";
    height: calc(100% + 10px);
    width: 100%;
    left: 0;
    top: -10px;
    background: url(../ui/frames/chat.webp);
    background-size: 100% 100%;
}

#sidebar::after {
    position: absolute;
    z-index: -1;
    content: " ";
    width: 350px;
    height: 76px;
    left: 0;
    background: url(../ui/frames/header.webp);
    background-size: 350px 76px;
}

#sidebar a.entity-link,
#sidebar a.inline-roll {
    background: #61180e;
    padding: 0px 3px;
    border: 2px solid #9a2619;
    border-radius: 6px;
}

#sidebar-tabs {
    box-shadow: none;
    border-bottom: none;
    padding: 0 10px;
    margin-top: 25px;
}

#sidebar-tabs > .item.active {
    color: #FFF;
    border: none;
    box-shadow: none;
}

#sidebar-tabs > .item:before {
    position: absolute;
    content: ' ';
    background: url(../ui/frames/red_line.webp);
    width: 100%;
    height: 3px;
    bottom: -3px;
    left: 0;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s;
}

#sidebar-tabs > .item.active:before {
    opacity: 1;
}

#chat-form {
    margin: 0 6px 25px;
}

#chat-form textarea {
    color: #837360;
    background: #ffffff14;
}

#chat-form textarea:focus {
    box-shadow: none;
}

#chat-controls {
    color: #837360;
    margin: 0 6px 10px
}

#chat-controls::before {
    position: relative;
    content: ' ';
    background: url(../ui/frames/brown_line.webp);
    background-size: 350px 7px;
    left: -3px;
    width: 350px;
    height: 7px;
    bottom: 8px;
}

#chat-controls .roll-type-select {
    background: rgb(131 115 96);
}

#chat-log .message {
    position: relative;
    color: #837360;
    border: none !important;
    background: none !important;
    padding: 10px 20px 15px 20px;
    margin: 0px 0px;
}

#chat-log .message::before {
    content: " ";
    position: absolute;
    background-repeat: no-repeat;
    background: url(../ui/frames/chat-texture-light.webp) !important;
    background-size: 95% 110% !important;
    width: calc(100% + 35px);
    height: calc(100% + 15%);
    left: -10px;
    top: -15%;
    z-index: -1;

    filter: brightness(1.4);
}

#chat-log .message.whisper::before {
    filter: brightness(1.0);
}

#chat-log .message.blind::before {
    filter: brightness(1.0) hue-rotate(180deg);
}

#chat-log .message .message-header {
    color: var(--main-text-light-color) !important; /*92887f*/
    font-size: 16px;
    font-weight: 600;
}

.chat-message .message-content {
    color: var(--main-text-light-color) !important; /*8e8073*/
}

.chat-message .table-draw .table-description {
    border-top: 1px solid var(--monks-border-color);
    color: var(--main-text-light-color)
}

.chat-message .table-draw .table-results .table-result img.result-image {
    filter: invert(75%);
}

#chat ::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 0px;
    border: none;
    background: #251f1d;
}

#chat ::-webkit-scrollbar-track {
    background: #181413;
}

.dice-roll .dice-formula, .dice-roll .dice-total {
    border: none;
    box-shadow: none;
}

/* CONTROLS */

#controls ol .scene-control,
#controls ol .control-tool {
    background: none;
    box-shadow: none;
    border: none;
    color: #837360;
}

#controls ol .scene-control.active,
#controls ol .control-tool.active,
#controls ol .scene-control:hover,
#controls ol .control-tool:hover {
    border: none;
    box-shadow: none;
}

#controls ol .scene-control.active:before,
#controls ol .control-tool.active:before,
#controls ol .scene-control:hover:before,
#controls ol .control-tool:hover:before {
    background: url(../ui/buttons/controls_btn_accent.webp);
    background-size: 100% 100%;
}

#controls ol > li {
    position: relative;
}

#controls ol > li.scene-control:before,
#controls ol > li.control-tool:before
{
    position: absolute;
    left: -9%;
    top: -15%;

    content: " ";
    width: 130%;
    height: 130%;

    background: url(../ui/buttons/controls_btn.webp);
    background-size: 100% 100%;
    z-index: -2;
    opacity: 0.88;
}

/*#controls {*/
/*    top: 70px;*/
/*}*/

/*body.compact-mode > ol.app.control-tools {*/
/*    top: -6px !important;*/
/*}*/

/*#controls .control-tools {*/
/*    left: 60px;*/
/*}*/

/*#controls .scene-control, #controls .control-tool {*/
/*    margin: 0 0 4px;*/
/*}*/

/*#controls .scene-control.active, #controls .control-tool.active, #controls .scene-control:hover, #controls .control-tool:hover {*/
/*    color: #d6d3c1;*/
/*}*/

/*#controls .scene-control, #controls .control-tool {*/
/*    border: none;*/
/*    box-shadow: none;*/
/*    background: none;*/
/*    color: #837360;*/
/*    padding: 5px;*/
/*}*/

/*#controls .scene-control, #controls .control-tool {*/
/*    margin: 0 0 4px;*/
/*}*/

/*#controls .scene-control i {*/
/*    position: relative;*/
/*}*/

/*#controls .scene-control > i::after, #controls li[data-control="combat-carousel"]::after {*/
/*    position: absolute;*/
/*    content: " ";*/
/*    width: 53px;*/
/*    height: 53px;*/
/*    left: -12px;*/
/*    top: -12px;*/
/*    background: url(../ui/buttons/controls_btn.webp);*/
/*    background-size: 100% 100%;*/
/*    z-index: -2;*/
/*    opacity: 0.88;*/
/*}*/

/*#controls li[data-control="combat-carousel"] {*/
/*    position: relative;*/
/*}*/

/*#controls li[data-control="combat-carousel"]::after {*/
/*    left: 0px;*/
/*    top: 0px;*/
/*}*/

/*#controls .scene-control.active > i::after {*/
/*    background: url(../ui/buttons/controls_btn_accent.webp);*/
/*    background-size: 100% 100%;*/
/*}*/

/*body.compact-mode #controls .scene-control > i::after {*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    left: -11px;*/
/*    top: -12px;*/
/*}*/

/*#controls .control-tool {*/
/*    position: relative;*/
/*}*/

/*#controls .control-tool::after {*/
/*    position: absolute;*/
/*    content: " ";*/
/*    width: 53px;*/
/*    height: 53px;*/
/*    left: -3px;*/
/*    top: -2px;*/
/*    background: url(../ui/buttons/controls_btn.webp);*/
/*    background-size: 100% 100%;*/
/*    z-index: -2;*/
/*    opacity: 0.88;*/
/*}*/

/*#controls .control-tool.active::after {*/
/*    background: url(../ui/buttons/controls_btn_accent.webp);*/
/*    background-size: 100% 100%;*/
/*}*/

/*body.compact-mode #controls .control-tool::after {*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    left: 0px;*/
/*    top: -3px;*/
/*}*/

/*#controls .scene-control i.fa-lightbulb::after {*/
/*    left: -16px;*/
/*}*/

/*body.compact-mode #controls .scene-control i.fa-lightbulb::after {*/
/*    left: -15px;*/
/*}*/

/*#controls .scene-control i.fa-bookmark::after {*/
/*    left: -14px;*/
/*}*/

/*body.compact-mode #controls .scene-control i.fa-bookmark::after {*/
/*    left: -13px;*/
/*}*/


/*#controls .scene-control.active, #controls .control-tool.active, #controls .scene-control:hover, #controls .control-tool:hover {*/
/*    box-shadow: none;*/
/*    border: none;*/
/*}*/

/* HOTBAR */

#ui-bottom > div {
    justify-content: center;
}

#hotbar {
    position: relative;
    right: 145px;
}

#hotbar #action-bar {
    position: relative;
}

#action-bar:not(.collapsed)::before {
    position: absolute;
    z-index: -1;
    content: " ";
    width: 146%;
    bottom: -10px;
    left: -23%;
    height: 85px;
    background-image: url(../ui/frames/action_bar.webp);
    background-size: 100% 85px;
    background-repeat: no-repeat;
}

#hotbar #action-bar .macro {
    border-radius: 0;
    box-shadow: none;
    margin: 0 0;
}

#hotbar #action-bar .macro::before {
    background-image: url(../ui/frames/macro.webp);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    content: " ";
    width: 61px;
    height: 78px;
    top: -11px;
    left: -9px;
    z-index: 1;
}

#hotbar #action-bar .macro:hover::before {
    background-image: url(../ui/frames/macro_hover.webp);
}

#hotbar .macro .macro-key {
    top: initial;
    bottom: 2px;
    z-index: 3;
    color: #837360;
    background: none;
}

#hotbar .macro .macro-icon {
    position: relative;
    z-index: 2;
}

#hotbar #macro-list {
    grid-gap: 8px;
}

#hotbar .bar-controls {
    color: #837360;
    background: none;
    border: none;
    box-shadow: none;
}

/* DIALOG */

.app.window-app.dialog,
.app.window-app.folder-edit {
    background: rgba(6, 4, 3, 0.92);
    border-image-source: url(../ui/frames/input_border.webp);
    border-image-slice: 5 20 20 20 fill;
    border-image-repeat: repeat repeat;
    border-image-width: auto;
    border-image-outset: 2px 2px 2px 2px;
    border-radius: 0;
}

.window-app.dialog .window-content,
.window-app.folder-edit .window-content {
    color: #8f8a80;
    background: none;
}

.window-app.dialog .window-header,
.window-app.folder-edit .window-header {
    border: none;
    color: var(--main-text-light-color);
}

.window-app.dialog .window-header::after,
.window-app.folder-edit .window-header::after {
    position: absolute;
    z-index: -1;
    content: " ";
    width: 100%;
    height: 45px;
    left: 0;
    top: -7px;
    background: url(../ui/frames/header.webp);
    background-size: 100% 45px;
}

.dialog button,
.folder-edit button {
    font-family: 'Kurale', serif;
    font-weight: 600;
    color: #837360;
    border: none!important;
    position: relative;
    box-shadow: none;
}

.folder-edit form .form-group label,
.folder-edit form .form-group label {
    color: var(--main-text-light-color)
}

.dialog button::before,
.folder-edit button::before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 110%;
    top: 0%;
    background: url(../ui/buttons/btn-dnd5e-card.webp);
    background-size: 100% 100%;
    z-index: -1;
    left: 0;
}

.dialog button::after,
.folder-edit button::after {
    position: absolute;
    content: " ";
    width: 100%;
    height: 130%;
    top: -15%;
    background: url(../ui/buttons/btn-accept.webp);
    background-size: 100% 100%;
    z-index: -1;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.dialog .dialog-buttons {
    border: none;
}

.dialog button.default::before,
.folder-edit button.default::before {
    background: url(../ui/buttons/btn-dnd5e-card_hover.webp);
    background-size: 100% 100%;
}

.dialog button:hover::after,
.folder-edit button:hover::after {
    opacity: 1;
}

.dialog input,
.folder-edit input {
    border: none;
    color: #ddc5b9;
    background: #ffffff14;
}

.dialog input:focus,
.folder-edit input:focus {
    box-shadow: none;
    outline: 2px solid #782e22;
}

.dialog select,
.folder-edit select {
    border: 0;
    background: rgba(131, 115, 96, 0.56);
}

.folder-edit input[type="color"][data-edit][data-edit] {
    border: none;
    color: #ddc5b9;
    background: #ffffff14;
}

/* ACTOR AND ITEM */
button#roll-hd {
    position: relative;
    color: var(--main-text-light-color);
    border: none;
}

button#roll-hd:hover, button#roll-hd:active {
    box-shadow: none;
}

button#roll-hd::before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 140%;
    top: -20%;
    left: 0%;
    background: url(../ui/buttons/btn-dnd5e-card.webp);
    background-size: 100% 100%;
    z-index: -1;
}

button#roll-hd:hover::before {
    background: url(../ui/buttons/btn-dnd5e-card_hover.webp);
    background-size: 100% 100%;
}

/* NAVIGATION */

#ui-top {
    width: calc(100% - 340px);
}

#navigation #nav-toggle {
    background: none;
    border: none;
}

#navigation .nav-item {
    margin: 0 14px 8px 0;
}

#navigation #scene-list.vertical .scene.nav-item {
    float: none;
    width: fit-content;
    display: table;
}

#navigation #scene-list .scene.nav-item {
    border: none;
    background: none;
    min-width: 80px;
    text-align: center;
}

#nav-toggle {
    width: 36px;
    height: 36px;
    color: var(--main-text-light-color);
}

#nav-toggle::after {
    position: absolute;
    content: " ";
    width: 50px;
    height: 50px;
    left: -8px;
    top: -9px;
    background: url(../ui/buttons/controls_btn.webp);
    background-size: 100% 100%;
    z-index: -2;
    opacity: 0.88;
}


#navigation #scene-list .scene.nav-item {
    position: relative;
    color: var(--main-text-light-color);
    font-weight: 600;
}

#navigation #scene-list .scene.nav-item::before {
    position: absolute;
    content: " ";
    width: 120%;
    height: 130%;
    top: -15%;
    background: url(../ui/buttons/controls_btn.webp);
    background-size: 100% 100%;
    z-index: -1;
    left: -10%;
    opacity: 0.88;
}

#navigation #scene-list .scene.view, #navigation #scene-list .scene.context {
    box-shadow: none;
}

/* PLAYERS */

#players {
    background: none;
    border: none;
    box-shadow: none;
    bottom: 25px;
    left: 25px;
}

#players h3 .players-mode {
    position: relative;
    float: right;
    top: 10px;
    right: -12px;
}

#players h3 .players-mode::after {
    position: absolute;
    content: " ";
    width: 34px;
    height: 32px;
    top: -7px;
    background: url(../ui/buttons/players_btn.webp);
    background-size: 100% 100%;
    z-index: -1;
    opacity: 0.6;
    left: -11px;
}

#players h3 {
    position: relative;
    color: #e9e9da;
    border-bottom: none;
    font-family: 'Kurale', serif;
    font-weight: 800;

    text-shadow: 2px 0 0 var(--border-color),
    -2px 0 0 var(--border-color),
    0 2px 0 var(--border-color),
    0 -2px 0 var(--border-color),
    1px 1px var(--border-color),
    -1px -1px 0 var(--border-color),
    1px -1px 0 var(--border-color),
    -1px 1px 0 var(--border-color);
}

#players h3::before {
    position: absolute;
    content: " ";
    width: 120%;
    height: 130%;
    top: -15%;
    background: url(../ui/frames/players_header.webp);
    background-size: 100% 100%;
    z-index: -1;
    left: -10%;
}

#players ol {
    position: relative;
    font-family: 'Kurale', serif;
    font-weight: 400;
}

#players ol::before {
    position: absolute;
    content: " ";
    width: 120%;
    height: 130%;
    background: url(../ui/frames/players_bg_dark.webp);
    background-size: 100% 100%;
    z-index: -1;
    left: -10%;
}

#players ol li.player {
    text-shadow: 2px 0 0 var(--border-color),
    -2px 0 0 var(--border-color),
    0 2px 0 var(--border-color),
    0 -2px 0 var(--border-color),
    1px 1px var(--border-color),
    -1px -1px 0 var(--border-color),
    1px -1px 0 var(--border-color),
    -1px 1px 0 var(--border-color);
}

/* ==== journal ==== */
.app.journal-sheet {
    font-family: 'Kurale', serif;
    padding: 10px 25px;

    box-shadow: none;
    border: none;
    background: none;
}

.app.journal-sheet::before {
    position: absolute;
    content: " ";
    width: 106%;
    height: 105%;
    top: -1%;
    left: -3%;
    background: url(../ui/other/paper_texture.webp);
    background-size: cover;
    z-index: -1;

    -webkit-mask-image: url(../ui/other/journal_mask.webp);
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

.app.journal-sheet::after {
    position: absolute;
    content: " ";
    width: 106%;
    height: 105%;
    top: -1%;
    left: -3%;
    background: url(../ui/other/journal_background.webp);
    background-size: 100% 100%;
    opacity: 0.90;
    z-index: -2;
}

.app.journal-sheet img {
    border: none;
}

.app.journal-sheet .window-app .window-header {
    border-bottom: none;
}

.app.journal-sheet .window-header {
    position: relative;
    top: 2%;
    flex: 0 0 40px;
    line-height: 40px;

    color: rgb(93, 24, 13);
    font-weight: 600;
}

.journal-sheet .window-content {
    background: none;
}

.journal-sheet .window-content::before {
    position: absolute;
    width: 512px;
    height: 298px;
    left: -6px;
    top: 12px;
    content: " ";
    background: url(../ui/other/journal_right_top_corner.webp);
    background-size: 100% 100%;
    opacity: 0.09;
    z-index: -1;
}

.app.journal-sheet .window-header .window-title {
    opacity: 0;
}

.app.journal-sheet .window-header {
    border: none;
}

.app:not(.monks-enhanced-journal).journal-sheet form input[name="name"] {
    position: relative;
    z-index: 10;
    padding: 10px 0px 20px 0px;
    margin-bottom: 10px;
    border: none;
    background: none;

    color: rgb(93, 24, 13);
    font-size: .705cm;
    font-weight: bold;
    border-image: url(../ui/frames/brown_line.webp) 25 25 round;
    border-bottom: 5px groove #eeede0;
}

.app:not(.monks-enhanced-journal).journal-sheet .window-resizable-handle {
    bottom: 5%;
    right: 5%;
}

.journal-sheet form select {
    display: none;
}

.journal-sheet .header-button.close {
    position: relative;
    width: 36px;
    height: 33px;

    color: rgba(0, 0, 0, 0);
}

.journal-sheet .header-button.close::before {
    width: 36px;
    height: 33px;
    top: 4px;
    position: absolute;
    content: " ";
    background: url(../ui/buttons/close_icon.webp);
    background-size: 100% 100%;
}

.journal-sheet .header-button.close:hover {
    text-shadow: none;
}

.journal-sheet .header-button.close:hover::before {
    background: url(../ui/buttons/close_icon_hover.webp);
    background-size: 100% 100%;
}

.journal-sheet ::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 5px;
    border: none;
    background: #74645526;
}

.journal-sheet ::-webkit-scrollbar-track {
    background: transparent !important;
}

.journal-sheet .window-resizable-handle {
    background: transparent;
    border: none;
    border-radius: 0;
    color: var(--main-text-light-color)
}

.journal-sheet .window-resizable-handle::before {
    position: absolute;
    content: " ";
    background: url(../ui/buttons/players_btn.webp);
    background-size: 100% 100%;
    width: 120%;
    height: 120%;
    top: 0%;
    right: -10%;
}

.journal-sheet button {
    width: 158px;
    height: 43px;
    position: relative;

    color: var(--main-text-light-color);
    font-weight: 600;
    font-family: 'Kurale', serif;

    background: url(../ui/buttons/btn.webp) center center no-repeat;
    background-size: 95% 95%;
    border: none;
}

.journal-sheet button:focus {
    box-shadow: none;
}

.journal-sheet button:hover {
    background: url(../ui/buttons/btn-dnd5e-card_hover.webp) center center no-repeat;
    background-size: 100% 100%;
    box-shadow: none;
}

.journal-sheet button:active {
    background: url(../ui/buttons/btn.webp) center center no-repeat;
    background-size: 100% 100%;
    box-shadow: none;
}

.journal-sheet.image-popout .window-content {
    margin-top: 30px;
    background: none;
}

.journal-sheet a.entity-link,
.journal-sheet a.inline-roll {
    background: #d3c3a7ab;
    padding: 0px 3px;
    border: 2px solid #2f271aab;
    border-radius: 4px;
}

.journal-sheet.minimized {
    padding: 1px 0px;
}

.journal-sheet.minimized .window-header .window-title {
    opacity: 100;
    color: rgb(93, 24, 13);
    font-size: .505cm;
    font-weight: bold;
}

.app.journal-sheet.minimized::before {
    -webkit-mask-image: none;
    border-image-source: url(../ui/frames/input_border.webp);
    border-image-slice: 5 20 20 20 fill;
    border-image-repeat: repeat repeat;
    border-image-width: auto;
    border-image-outset: 1px 2px 2px 2px;
    border-radius: 0;
    box-shadow: rgb(0, 0, 0) 0px 0px 20px 0px
}

#fps {
    position: absolute;
    right: 350px;
    order: 2;
}

/* ==== compatibility ==== */

/* Illandril's Hotbar Uses */
.illandril-hotbar-uses--hasUses .illandril-hotbar-uses--counter {
    z-index: 10;
}

/* D&D 5th Edition PHB Journal Styling for Foundry VTT */
/* https://github.com/Daxiongmao87/foundry-vtt-5e-phb-journal-styling */
.journal-sheet .editor-content {
    font-size: .365cm !important;
    padding: 0 !important;
    background: transparent;
}

.journal-sheet .editor-content blockquote {
    margin: 10px;
}

/* Damage Log */
/* https://github.com/cs96and/FoundryVTT-damage-log */
/* Tabbed Chatlog */
/* https://github.com/cswendrowski/FoundryVTT-Tabbed-Chatlog */

nav.damage-log-nav.tabs,
.tabbedchatlog.tabs {
    position: relative;
    box-shadow: none;
    border: none;
}

.tabbedchatlog.tabs {
    padding: 0 10px;
}

nav.damage-log-nav.tabs::before,
.tabbedchatlog.tabs::before {
    content: " ";
    position: absolute;
    width: 317px;
    z-index: 10;
    left: -2px;
    height: 7px;
    bottom: -7px;
    background: url(../ui/frames/brown_line.webp);
    background-size: 317px 7px;
}

nav.damage-log-nav .item,
.tabbedchatlog .item {
    position: relative;
}

nav.damage-log-nav .item.active,
.tabbedchatlog .item.active {
    border: none;
    box-shadow: none;
}

nav.damage-log-nav .item:before,
.tabbedchatlog .item:before {
    position: absolute;
    content: ' ';
    background: url(../ui/frames/red_line.webp);
    width: 70%;
    height: 3px;
    bottom: -3px;
    z-index: 10;
    left: 15%;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s;
}

nav.damage-log-nav .item.active:before,
.tabbedchatlog .item.active:before {
    opacity: 1;
}

/* Dice Tray */
/* https://gitlab.com/asacolips-projects/foundry-mods/foundry-vtt-dice-calculator */

.dice-tray {
    position: relative;
    top: -25px;
    padding: 0 4px;
}

.dice-tray button {
    box-shadow: 0 0 6px inset #3f342b;
}

.dice-calculator > button, .dice-calculator .dice-calculator--button {
    color: var(--main-text-light-color)
}

/* Dynamic Active Effects */
/* https://gitlab.com/tposney/dae */

.app.sw5e .dnd5e.sheet.actor:not(.loot-sheet-npc):not(.sw5e),
.app.sw5e .dnd5e.sheet.item:not(.sw5e) {
    background: none;
    border: none;
}

/* Better Rolls 5e */
/* https://github.com/RedReign/FoundryVTT-BetterRolls5e */

.red-dual .die-icon {
    color: black;
}

/* Monk's TokenBar */
/* https://github.com/ironmonk88/monks-tokenbar */

:root{
    --monks-border-color: #6b6155;
}

#chat .monks-tokenbar.chat-card .card-header {
    padding: 3px 0;
    border-top: 2px groove var(--monks-border-color);
    border-bottom: 2px groove var(--monks-border-color);
}

#chat .monks-tokenbar.chat-card .card-footer {
    border-top: 2px groove var(--monks-border-color);
}

#chat .monks-tokenbar.chat-card .card-footer span {
    border-right: 2px groove var(--monks-border-color);
}

#chat .monks-tokenbar .sheet .items-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    color: #cfbda7;
}

#chat .monks-tokenbar.chat-card .card-header h3 {
    color: var(--main-text-light-color)
}

#chat #requestsavingthrow .request-header {
    border-radius: 4px;
    white-space: nowrap;
    overflow-x: hidden;
    color: #cfbda7;
    background: black;
    border: 2px solid var(--border-color);
    padding: 1px 8px;
}

#chat .monks-tokenbar .sheet .items-list .item-name h3,
#chat .monks-tokenbar .sheet .items-list .item-name h4 {
    margin: 0;
    white-space: nowrap;
    overflow-x: hidden;
    color: #cfbda7;
    font-weight: bold;
    padding: 1px 4px;

    background: rgba(0, 0, 0, 0.43);
    border: 1px solid transparent;
    border-radius: 3px;
}

#chat .monks-tokenbar .sheet .items-list .items-header {
    height: 28px;
    margin: 2px 0;
    padding: 0;
    align-items: center;
    font-weight: bold;
    flex-wrap: nowrap;

    background: rgba(0, 0, 0, 0.43);
    border: 1px solid transparent;
    border-radius: 3px;
}

#chat .monks-tokenbar.chat-card .sheet .items-list {
    padding: 0;
}

/* Midi Quality of Life Improvements */
/* https://gitlab.com/tposney/midi-qol */
.xmidi-qol-flex-container select {
    color: var(--main-text-light-color)
}

/* Babele */
/* https://gitlab.com/riccisi/foundryvtt-babele */
#actor-translate-log {
    color: var(--main-text-very-light-color)
}

/* DF Chat Enhancements */
/* https://github.com/flamewave000/dragonflagon-fvtt/tree/master/df-chat-enhance */
:root{
    --glassy: 0px 0px 2px rgba(255, 255, 255, 0.4) inset, 0px 0px 6px rgba(255, 255, 255, 0.2) inset, 1px 1px 1px rgba(0, 0, 0, 1), 1px -1px 1px rgba(0, 0, 0, 1), -1px -1px 1px rgba(0, 0, 0, 1), -1px 1px 1px rgba(0, 0, 0, 1), 0px 0px 3px rgba(0, 0, 0, 1), 0px 0px 4px rgba(0, 0, 0, 0.5);
}

#dfcp-rt-buttons button {
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    background: var(--glassy);
    border: none;
    border-radius: 50%;
    color: #837360;
    box-shadow: var(--glassy);
    cursor: pointer;
}

#dfcp-rt-buttons button:hover {
    color: #ff6400;
    border-color: #ff6400;
    box-shadow: 0 0 6px inset #ff6400;
}

#dfcp-rt-buttons button[data-id=publicroll].active {
    background-color: #91a82a;
}

#dfcp-rt-buttons button[data-id=selfroll].active {
    background-color: #ff6400;
}

/* Minimal UI */
/* https://github.com/saif-ellafi/foundryvtt-minimal-ui/issues */
.minimal-ui-mode .new-logo {
    display: none!important;
}
.minimal-ui-mode #controls ol li.scene-control[data-control="combat-carousel"] {
    width: var(--controlsw)!important;
    height: var(--controlsh)!important;
}
.minimal-ui-mode #controls li[data-control="combat-carousel"]::after {
    width: calc(var(--controlsw) - 10px)!important;
    height: calc(var(--controlsh) - 10px)!important;
}

.minimal-ui-mode #ui-bottom > div {
    justify-content: inherit!important;
}
:root {
    --hotbarvis: visible;
    --hotbarypos: -5px;
    --hotbarxpos: 400px;
    --hotbarlh1: 24px;
    --hotbarlh2: 8px;
    --hotbarhv: -5px;
    --hotbarmg: 0px;
    --hotbarhh: 100%;
    --hotbarshp: 0px;
}

.minimal-ui-mode #hotbar {
    left: var(--hotbarxpos);
    bottom: var(--hotbarypos);
    visibility: var(--hotbarvis);
    transition: 0.5s ease-out 0.5s;
    opacity: var(--opacity);
    position: absolute;
}

:root {
    --playervis: hidden;
    --playerfsize: 0px;
    --playerfsizehv: 12px;
    --playerwidthhv: 150px;
    --playerslh: 20px;
    --playerbennies: none;
    --playerh3w: unset;
    --playerbot: -8px;
    --playerleft: -8px;
    --playerpingdisplay: initial;
}

.minimal-ui-mode #players {
    bottom: var(--playerbot);
    left: var(--playerleft);
    font-size: var(--playerfsize);
    visibility: var(--playervis);
    opacity: var(--opacity);
    box-shadow:none;
    position: absolute;
    border: none;
}

.minimal-ui-mode #navigation #scene-list {
    margin-left: 16px;
}
.minimal-ui-mode #controls ol.main-controls {
    width: 60px;
}