.system-pf2e .sheet.actor:not(.loot-sheet-npc),
.system-pf2e .sheet.item {
    background: rgba(6, 4, 3, 0.92);
    border-image-source: url(../../ui/frames/input_border.webp);
    border-image-slice: 5 20 20 20 fill;
    border-image-repeat: repeat repeat;
    border-image-width: auto;
    border-image-outset: 1px 2px 2px 2px;
    border-radius: 0;
}

.system-pf2e .sheet.actor .window-header,
.system-pf2e .sheet.item .window-header {
    border: none;
    color: var(--main-text-light-color);
}

.system-pf2e .sheet.actor:not(.loot-sheet-npc) .window-header::after,
.system-pf2e .sheet.item .window-header::after {
    position: absolute;
    z-index: -1;
    content: " ";
    width: 100%;
    height: 45px;
    left: 0;
    top: -9px;
    background: url(../../ui/frames/header.webp);
    background-size: 100% 45px;
}

.system-pf2e .window-app.dialog .window-content,
.system-pf2e .window-app.folder-edit .window-content {
    background: url(/ui/parchment.jpg) repeat;
    color: #191813;
}

.pf2e.chat-card .card-header,
.pf2e.chat-card .card-footer,
.pf2e.chat-card .card-footer span {
    border-color: var(--border-color);
}

.system-pf2e .effect-panel {
    right: 360px;
    top: 22px;
}

.effect-panel div[data-item-id] {
    position: relative;
    border-radius: 50%;

    border: 2px solid var(--border-color);
    box-shadow: rgb(0, 0, 0) 0px 0px 10px 0px
}